<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
 </configSections>
	<appSettings>
		<add key="Ruuvi_F8D8EB5A4EAC" value="http://localhost:5050/E1A4F3C2-D915-4323-B590-5EF55E9DA021"/>
	</appSettings>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
